<IfModule mod_headers.c>
  Header unset Accept-CH
</IfModule>

RewriteEngine On

# Serve static files directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]


