<IfModule mod_headers.c>
  Header unset Accept-CH
</IfModule>

RewriteEngine On

# Serve static files directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Pretty URLs: /login → login.php
RewriteRule ^login/?$ login.php [L]
RewriteRule ^logout/?$ logout.php [L]
RewriteRule ^page/([^/]+)/?$ manage.php?id=$1  [NC,L]

# Fallback: everything to index.php
RewriteRule ^ index.php [L]
